services:
  personal-website:
    image: ${DOCKER_REGISTRY}/personal-website:latest
    container_name: personal-website
    restart: always
    # Uncomment if deploying directly on host
    # ports:
    #   - 80:3000
    environment:
      - PAYLOAD_SECRET=${PAYLOAD_SECRET}
    env_file:
      - .env
    volumes:
      - ${PATH_TO_DB}:/app/db.sqlite3
      - ${PATH_TO_MEDIA}:/app/public/media
      - ${PATH_TO_COVER_IMAGE}:/app/public/coverImage
      - ${PATH_TO_CERTIFICATION_BADGES}:/app/public/certificationBadges
    networks:
      - default
      - caddy

networks:
  caddy:
    name: caddy
    external: true
