/* === Imports Fonts === */
/* Playfair */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* Inide Flower */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/* Abel */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


body {
    position: absolute;
    width: 90%;
    left: 5%;

    align-content: center;
    padding-bottom: 20px;
}

/* Navbar */
nav {
    position: absolute;
    width: 90%;
    height: 40px;
    left: 5%;
    margin-right: 0px;
    margin: 2px;
    z-index: 10;
}
/* A container that creates a space to put in menu items */
.navbar {
    position: absolute;
    width: 90%;
    height: 100%;
    margin: 0px;
    right: 0px;
    top: 0px;
}
/* Unorderd list for creating the menu items */
.navbar_texts {
    list-style-type: none;
    position: absolute;
    width: 90%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0px;
    right: 0px;
    
}
/* Individual menu texts */
.navbar_text {
    font-family: 'Playfair Display';
    font-size: 20px;
    color: black;
    position: relative;
    top: 0px;
    right: 0px;
    float: right;
    margin: 10px;
    padding-left: 40px;
}
.navbar_text:hover {
    color: #c7c2c2;
    transition: 0.3s all;
}
.active {
    color: #bbb2b2;
}

/* General Container */
.container {
    position: absolute;
    width: 90%;
    height: 100%;
    padding-top: 40px;
    left: 5%;
    margin-bottom: 10px;
    padding-bottom: 10em;
    z-index: 9;
}


/* Home-Page Name Text */
.name {
    font-family: 'Indie Flower', serif;
    font-size: 10em;
    text-align: center;
    margin: 0;
    padding-top: 1.1em;
}
/* Home-Page description text */
.description {
    font-family: 'Abel', serif;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding-top: 1em;
}


/* Get rid of the ugly hyperlink formats */
a {
    text-decoration: none;
}

.linkedin {
    position: relative;
}
.linkedin:hover {
    opacity: 0.8;
    transition: 0.3s;
}

/* Card Setups */
.cards_container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1700px;
    height: 100%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    z-index: 10;
}
.card_container {
    position: relative;
    width: 300px;
    height: 500px;
    display: inline-block;
    margin: 40px;
    z-index: 10;
}
.card_clickable {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.desc {
    position: relative;
    width: 300px;
    height: 500px;
    margin: 40px;
}
.desc_title {
    font-family: "Playfair Display", serif;
    font-size: 50px;
    left: 0px;
    margin: 0px;
}
.desc_text {
    padding-top: 30px;
}





.card {
    position: relative;
    width: 300px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    font-family: 'Abel', serif;
    border-radius: 5px;
    background: #f1f1f1;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;

    margin-bottom: 30px;
}
.card-image {
    grid-area: image;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Different Images for Different Cards */
/* Personal Projects Cards */
.finance_parser_card {
    background: url("Resources/finance_parser.jpg");
    background-size: cover;
}
.personal_website_card {
    background: url("Resources/website_card_background.jpg");
    background-size: cover;
}

/* Experiences Cards */
.ceb_card {
    background: url("Resources/ceb_logo.jpg");
    background-size: cover;
    background-position: center;
}
.fineway_card {
    background: url("Resources/fineway_logo.jpg");
    background-size: cover;
    background-position: center;
}
.byc_card {
    background: url("Resources/byc_logo.jpeg");
    background-size: contain;
    background-position: center;
}


.card-text {
    grid-area: text;
    margin: 25px;
}
.card-text .card-date {
    color: red;
    font-size: 15px;
}
.card h2 {
    margin-top: 0px;
    font-size: 28px;
}
.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #c7c2c2;
}

.card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}
.card-stats .type {
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card-stats .value {
    font-size: 22px;
    font-weight: 500;
}

.card-stats .border {
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6)
}


@media only screen and (min-width: 2000px) {
    * {
        zoom: 102%;
    }
}

