.container {
    position: relative;
    width: 100%;
    height: fit-content;
    margin-left: 1rem;
}

.title {
    color: var(--color-text-dim);
    font-size: 1rem;
    font-weight: 500;
}

.skillsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.2rem;
    row-gap: 1rem;
    padding-left: 1rem;
    width: 100%;
}

.logoContainer {
    width: 18%;
    aspect-ratio: 1/1;
    position: relative;
}

@media (max-width: 1300px) {
    .logoContainer {
        width: 22%;
    }

    .title {
        font-size: 0.8rem;
    }
}