.title {
    color: var(--color-text-primary);
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.featuredProjectsContainer {
    display: grid;
    grid-template-columns: 2fr 0.75fr;
    gap: 3rem;

    position: relative;
    width: 100%;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.techStackContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.techStackTitle {
    color: var(--color-text-dim);
    font-size: 1.2rem;
    font-weight: 500;
}