.socialsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8svw;
    position: relative;
    margin-top: auto;
    margin-right: auto;
    padding-left: 2svw;
    width: fit-content;
    height: fit-content;
}

.socialIconContainer {
    position: relative;
    --icon-size: 2svw;
    width: var(--icon-size);
    height: var(--icon-size);
}

.socialIconContainer:hover .socialIcon {
    opacity: 0.5;
}

.socialIcon {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.verticalLine {
    width: 0.125svw;
    height: 5svw;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-text-dim);
}