:root {
  --color-primary: #FAFAFA;
  --color-text-primary: #2e5077;
  --color-text-secondary: rgb(138, 175, 218);
  --color-text-dim: #a3a2a2;

  --max-width: 1650px;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
  user-select: none;
  --webkit-user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
}

body {
  position: relative;
  height: fit-content;
  min-height: 100dvh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--max-width);
  background-color: var(--color-primary);
}

main {
  width: 90%;
  height: fit-content;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
}

@media (max-width: 950px) {
  main {
    margin-top: 5rem;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #191716;
    --color-text: #e0e2db;
  }
} */
