:root {
  --color-primary: #e0e2db;
  --color-text-primary: #2e5077;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
  user-select: none;
  --webkit-user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #191716;
    --color-text: #e0e2db;
  }
} */
