.container {
    margin-left: 2%;
    margin-top: max(25%, 8.5rem);
    width: 80%;
}

.title {
    color: var(--color-text-primary);
    font-size: 3.5rem;
    font-weight: 600;
}

.subtitle {
    color: var(--color-text-secondary);
    font-weight: 500;
    font-size: 3.5rem;

    margin-bottom: 1rem;
}

.description {
    width: 75%;
    color: var(--color-text-dim);
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.highlight {
    color: var(--color-text-primary);
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.locationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;

    margin-top: 2rem;
    margin-left: -0.25rem;

    color: var(--color-text-dim);
}

.locationIconContainer {
    position: relative;
    --icon-size: 1.5rem;
    width: var(--icon-size);
    height: var(--icon-size);
}

.locationContainer p {
    font-size: 0.95rem;
}

@media (max-width: 1300px) {
    .container {
        margin-left: 10%;
    }

    .title {
        font-size: 2.5rem;
    }

    .subtitle {
        font-size: 2rem;
    }

    .description, .highlight {
        font-size: 1rem;
        width: 90%;
        margin-bottom: 1rem;
    }

    .locationContainer {
        flex-direction: row;
        align-items: flex-start;
    }
}

@media (max-width: 450px) {
    .title {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: 1.5rem;
        margin-bottom: 0.7rem;
    }

    .description, .highlight {
        font-size: 0.8rem;
        margin-bottom: 0.7rem;
    }

    .locationContainer {
        margin-top: 0.7rem;
    }

    .locationContainer p {
        font-size: 0.8rem;
    }
}
