.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15svh;
    width: 80%;
}

.title {
    color: var(--color-text-primary);
    font-size: 3.5svw;
    font-weight: 600;
}

.subtitle {
    color: var(--color-text-secondary);
    font-weight: 500;
    font-size: 3svw;

    margin-bottom: 1rem;
}

.description {
    width: 75%;
    color: var(--color-text-dim);
    font-size: var(--font-size-default);
    font-weight: 400;
    margin-bottom: 2svh;
}

.highlight {
    color: var(--color-text-primary);
    font-size: var(--font-size-default);
    font-weight: 500;
    margin-bottom: 2svh;
}

.locationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1svh;

    margin-top: 2svh;
    margin-left: -0.25svw;

    color: var(--color-text-dim);
}

.locationIconContainer {
    position: relative;
    --icon-size: 1.5svw;
    width: var(--icon-size);
    height: var(--icon-size);
}

.locationContainer p {
    font-size: 1svw;
}